[submodule "languages/treesitterpython"]
	path = languages/treesitterpython
	url = git@github.com:tree-sitter/tree-sitter-python.git
[submodule "languages/treesitterjavascript"]
	path = languages/treesitterjavascript
	url = git@github.com:tree-sitter/tree-sitter-javascript.git
