[tool.poetry]
name = "codecov-cli"
version = "0.1.0"
description = ""
authors = ["Thiago Ramos <thiago@codecov.io>"]

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.0.3"
requests = "^2.27.1"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
pytest = "~7.1"
black = "^22.3.0"
isort = "^5.10.1"
pytest-cov = "^3.0.0"
pytest-mock = "^3.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
codecov = 'codecov_cli.main:run'