---
name: Build and Optionally Publish to PyPi

on:
  pull_request:
    branches: main
  workflow_call:
    inputs:
      publish:
        type: boolean
        default: false
        description: "Publish to PyPi"

jobs:
  build_src_for_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
      - name: Install dependencies
        run: |
          pip install build
      - name: Build src dist
        run: |
          python -m build --sdist
        env:
          PIP_CONSTRAINT: requirements.txt
      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: ./**/*.tar.gz

  build_dist_for_pypi:
    needs:
      - build_src_for_pypi
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-13
          - macos-latest
          - ubuntu-24.04-arm
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Download the sdist
        uses: actions/download-artifact@v4
        with:
          name: cibw-sdist
      - name: Get sdist filename
        id: get-sdist
        run: |
          echo "sdist_filename=$(ls dist/)" >> "${GITHUB_OUTPUT}"
        shell: bash
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        with:
          package-dir: dist/${{ steps.get-sdist.outputs.sdist_filename }}
      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  publish_to_pypi:
    needs:
      - build_dist_for_pypi
      - build_src_for_pypi
    permissions:
      id-token: write  # This is required for OIDC
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/codecov-cli
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist/
          pattern: cibw-*
      - name: Display artifacts
        run: |
          ls -alrt */*/*
      - name: Publish package to PyPi
        if: inputs.publish == true || false
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
