name: Create CLI Release

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  create-release:
    if: ${{ github.event.pull_request.merged == true && startsWith(github.head_ref, 'release/') && github.repository_owner == 'codecov' }}
    env:
      GITHUB_TOKEN: ${{ secrets.CODECOV_RELEASE_PAT }}
    name: Create Github Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: get-release-vars
        name: Configure Release Vars
        run: |
          echo release_version=$(grep -E "version=\"[0-9]\.[0-9]\.[0-9]\"" setup.py | grep -Eo "[0-9]\.[0-9]\.[0-9]") >> "$GITHUB_OUTPUT"

      - name: Create GH Release
        uses: softprops/action-gh-release@v0.1.15
        with:
          name: Release ${{ steps.get-release-vars.outputs.release_version }}
          tag_name: ${{ inputs.tag_to_prepend }}${{ steps.get-release-vars.outputs.release_version }}
          generate_release_notes: true
          body: Autogenerated for ${{ steps.get-release-vars.outputs.release_version }}. Created for ${{ github.event.pull_request.html_url }}

